## Intro to Jupyter

You can choose accordingly

ctrl+enter
alt+enter => next cell kooda vasthadi

In [3]:
a=10
print('Hello World')
print('Another HelloWorld ')
10

Hello World
Another HelloWorld

10

### variables

In [5]:
a=10
b=20
sum=a+b
print(sum)
print(a,b)

30
10 20

### alphanumeric -> correct
### numericalpha ->wrong

In [6]:
ac_c1= 10
#this is a comment
print(ac_c1)

10

## Assigning Different type of data to a variable

In [7]:
a=10 #a is not rested, it can store large 
a=20 # new /usable different storage 
a="Hi this is ismail" # a stores address
a

'Hi this is ismail'

In [8]:
print(a,type(a))

Hi this is ismail <class 'str'>

In [9]:
a=10
a=10
print(a,type(a))

10 <class 'int'>

In [10]:
a1 = 23
a2= 3.4
a3= 4+5j
print(a1,type(a1))
print(a2,type(a2))
print(a3,type(a3))

23 <class 'int'>
3.4 <class 'float'>
(4+5j) <class 'complex'>

In [11]:
a=4
print(id(a)) #unique identification number for that variable(meta)
a=a+1
print(id(a))

140715170980744
140715170980776

In [32]:
a=10
b=10
print(id(a))
print(id(b))
#points to same value
# this optimmization only for -5 to 256

140734163903560
140734163903560

In [12]:
a=1000
b=1000
print(id(a))
print(id(b))

2369542254288
2369542252432

In [13]:
#for java/c++ int a: some fixed memory ex:4 bytes
# For python its different

a=10000000 #there is no limit to how big the variable is, only the available

### Arthimetic

+ - * /
// ** %

In [14]:
a=9
b=4
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a//b) #integer division
print(a**b) #exponentiation
print(a%b) #remaindeer

13
5
36
2.25
2
6561
1

In [37]:
# Just put barckets

In [38]:
2*3/4

1.5

In [41]:
2*(3//4)

0

In [40]:
(2*3)//4

1

## Simple Intrest

In [15]:
p=100
t=5
r=5
print((p*t*r)//100)

25

In [43]:
f=100
c=(f-32)*5/9
c

37.77777777777778

### Input

In [44]:
a=input() #string
a

 2

'2'

In [1]:
a=float(input()) # input should be valid integer/float, otherwise error
b=int(input()) # input should be valid integer, otherwise error
print(type(b)) 
c=a+b
i = int(5.5)
i

 2
 5

<class 'int'>

5

## Boolean

In [3]:
a=True
b=False # capital

c="Ninjas"
type(b)

bool

## Relational Operator

In [4]:
a=10
b=20
print(a>b)
print(a>=b)
print(a<=b)
print(a==b)
print(a!=b)

False
False
True
False
True

## Logical Operators

In [6]:
a=5>10
b=4<5
c=False
r1 =  a and b
r2= a or b
r3 = not c

print(r1,r2,r3)

False True True

## Conditional Operators

In [11]:
if a>b:
    print("False")
else:
    print("True")

#identation is very imprrtant

True

In [2]:
n= int(input())
if n%2==0:
    print("Even")
else:
    print("Odd")

 23

Odd

## Ternary operator

In [14]:
n= int(input())
print("Even") if n%2==0 else print("Odd")

 52

Even

In [16]:
a=   int(input())
b=   int(input())

if a>10 and b> 10:
    print("True")
else:
    print("False")

 50
 12

True

In [19]:
#finding largest of three

a=   int(input())
b=   int(input())
c= int(input())
if a>=b and a>=c:
    print(a)
elif b>=a and b>=c:
    print(b)
else:
    print(c)

 20
 20
 30

30

In [20]:
n= int(input())
if n> 10:
    print("Red")
elif n>=5:
    print("Green")
elif n>0:
    print("Yellow")

 446

Red

In [21]:
n= int(input())

if n>0:
    print("Positive")
elif n<0:
    print( "Negative")
else:
    print( "Zero")

 465

Positive

## Nested Conditionals

In [22]:
n= int(input())
if n%2==0:
    print("Even")
    if n==0:
        print("zero")
else:
    print("Odd")

 0

Even
zero

## Loops

In [26]:
#first n natural numbers

n =  int(input())
i=1
while i<=n:
    print(i)
    i+=1

 5

1
2
3
4
5

In [28]:
#sum of n natural numbers

n =  int(input())
sum=0
i=1
while i<=n:
    sum+=i
    i+=1
print(sum)

 10

55

In [32]:
#prime or not
import math
n =  int(input())
i=2
istrue= True

while i <= math.sqrt(n):
    if n%i ==0:
        istrue= False
    i+=1
if istrue:
    print("Prime")
else:
    print("Not Prime")

 50

Prime

## Nested While

In [40]:
# print all prime numbers between range
m =  int(input())
n=2
while n<=m:
    istrue= True
    i=2
    
    while i <= math.sqrt(n):
        if n%i ==0:
            istrue= False
        i+=1
    if istrue:
        print(n,"Prime")
    
    n+=1

 23

2 Prime
3 Prime
5 Prime
7 Prime
11 Prime
13 Prime
17 Prime
19 Prime
23 Prime

In [41]:
# farenheit to celcius in a range with step of w
s =  int(input())
e =  int(input())
w =  int(input())

while s<=e:
    print( (5*(s-32)) / 9)
    s+=w

 200
 600
 20

93.33333333333333
104.44444444444444
115.55555555555556
126.66666666666667
137.77777777777777
148.88888888888889
160.0
171.11111111111111
182.22222222222223
193.33333333333334
204.44444444444446
215.55555555555554
226.66666666666666
237.77777777777777
248.88888888888889
260.0
271.1111111111111
282.22222222222223
293.3333333333333
304.44444444444446
315.55555555555554

In [42]:
n= int (input())

if n== 1:
    a= int (input())
    b= int (input())
    print(a+b)
elif n == 2:
    a= int (input())
    b= int (input())
    print(a-b)
elif n == 3:
    a= int (input())
    b= int (input())
    print(a*b)
elif n == 4:
    a= int (input())
    b= int (input())
    print(a//b)
elif n==5:
    a= int (input())
    b= int (input())
    print(a%b)
else:
    print ("Invalid Operation")

 2
 12
 54

-42

In [44]:
# reverse a number
n=int(input())
r=0
while n!=0:
    l=n%10
    r=r*10 + l
    n=n//10
print(r)

 654654546464

464645456456

In [48]:
# palindrome

# reverse the number and check
n=int(input())
i=n
r=0
while n!=0:
    l=n%10
    r=r*10 + l
    n=n//10
print("Palindrome") if r==i else print("Not Palindeome")

 5545

Not Palindeome

In [52]:
#sum of even digits and sum of odd digits
# ternary operator lo += use cheyalemu
n = int(input())

e = 0
odd = 0

while n != 0:
    l = n % 10
    if l % 2 == 0:
        e += l
    else:
        odd += l
    n = n // 10

print("even", e)
print("odd", odd)

 45666

even 22
odd 5

In [5]:
# nth fibanocci
def fib(n):
    if n==1 or n==2:
        return 1
    else:
        return fib(n-1) + fib(n-2)

n= int(input())
print(fib(n))

 15

610

# PATTERNS

In [7]:
# Steps to approach a pattern
# --->
# ---> print line by line 

# 1.No of rows
# 2.No of columns to print at generic ith row => can be a function of n,i,j =>f(n,i,j)
# 3.What to print

# SQUARE PATTERN

# print command go to next line automatically
n=int(input())
i=1
while(i<=n):
    j=1
    while j<=n:
        print("*",end="")
        j+=1
    print()
    i+=1

 5

*****
*****
*****
*****
*****

1111      1234    4321

2222      1234    4321

3333      1234    4321

4444      1234    4321

In [5]:
n=int(input())
i=1
while(i<=n):
    j=1
    while j<=n:
        print(i,end="")
        j+=1
    print()
    i+=1

print()
print()

 5

11111
22222
33333
44444
55555

In [6]:
n=int(input())
i=1
while(i<=n):
    j=1
    while j<=n:
        print(j,end="")
        j+=1
    print()
    i+=1

 5

12345
12345
12345
12345
12345

In [7]:
n=int(input())
i=1
while(i<=n):
    j=n
    while j>=1:
        print(j,end="")
        j-=1
    print()
    i+=1

 5

54321
54321
54321
54321
54321

In [1]:
n=int(input())
i=1
while(i<=n):
    j=1
    while j<=i:
        print(j,end="")
        j+=1
    print()
    i+=1

 5

1
12
123
1234
12345

In [2]:
n=int(input())
i=1
while(i<=n):
    j=1
    k=i
    while j<=i:
        print(k,end="")
        k+=1
        j+=1
    print()
    i+=1

# or i+j-1

 5

1
23
345
4567
56789

In [8]:
n=int(input())
i=1
k=1
while(i<=n):
    j=1
    while j<=i:
        print(k,end=" ")
        k+=1
        j+=1
    print()
    i+=1

 5

1
2 3
4 5 6
7 8 9 10
11 12 13 14 15

## Character Patterns

in python 
str + int = invalid

ord('A')= ascii value-> ord gives only for single char not "AB"

chr(ascii) = character

In [11]:
n=int(input())
i=1
while(i<=n):
    j=1
    while j<=n:
        print(chr(ord('A')+j-1),end=" ")
        j+=1
    print()
    i+=1

 5

A B C D E
A B C D E
A B C D E
A B C D E
A B C D E

In [6]:
n=int(input())
i=1
while(i<=n):
    j=1
    while j<=n:
        print(chr(ord('A')+i+j-2),end=" ")
        j+=1
    print()
    i+=1

 5

A B C D E
B C D E F
C D E F G
D E F G H
E F G H I

In [7]:
n=int(input())
i=1

while(i<=n):
    j=1
    k=n-i+1
    while j<=i:
        print(chr(ord('A')+ k-1),end=" ")
        k+=1
        j+=1
    print()
    i+=1

 5

E
D E
C D E
B C D E
A B C D E

## INVERTED PATTERNS

In [14]:
n=int(input())
i=1
while(i<=n):
    j=1
    while j<=(n-i+1):
        print("*",end=" ")
        j+=1
    print()
    i+=1

 5

* * * * *
* * * *
* * *
* *
*

In [15]:
n=int(input())
i=1
while(i<=n):
    j=1
    while j<=(n-i+1):
        print(j,end=" ")
        j+=1
    print()
    i+=1

 5

1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

## Reversed Pattern or Mirror Pattern

In [19]:
n=int(input())
i=1
while(i<=n):
    s=1
    while s<=(n-i):
        print(" ",end="")
        s+=1 
    j=1
    while j<=(i):
        print("*",end="")
        j+=1
    print()
    i+=1

 10

         *
        **
       ***
      ****
     *****
    ******
   *******
  ********
 *********
**********

## Isoceles Pattern

In [9]:
n=int(input())
i=1
while(i<=n):
    # Spaces
    s=1
    while s<=(n-i):
        print(" ",end="")
        s+=1 
    # increasing sequence
    j=1
    while j<=i:
        print(j,end="")
        j+=1
    k=1
    j=j-1
    # decreasing sequence
    while k<=i-1:
        j=j-1
        print(j,end="")

        k+=1
    print()
    i+=1

 5

    1
   121
  12321
 1234321
123454321

In [10]:
n=int(input())
i=1
while(i<=n):
    # Spaces
    s=1
    while s<=(n-i):
        print(" ",end="")
        s+=1 
        
    # increasing sequence
    j=1
    while j<=i:
        print(j+i-1,end="")
        j+=1
    k=1
    j=j-1
    j=j+i-1
    # decreasing sequence
    while k<=i-1:
        j=j-1
        print(j,end="")

        k+=1
    print()
    i+=1

 5

    1
   232
  34543
 4567654
567898765

In [8]:
n=int(input())
i=1
while(i<=n):
    # Spaces
    s=1
    while s<=(n-i):
        print(" ",end="")
        s+=1 
    # increasing sequence
    j=1
    while j<=i:
        print("*",end="")
        j+=1
    k=1
    j=j-1
    # decreasing sequence
    while k<=i-1:
        j=j-1
        print("*",end="")

        k+=1
    print()
    i+=1

 5

    *
   ***
  *****
 *******
*********

In [12]:
n=int(input())
n1=(n+1)//2
n2=n1-1
i=1
while(i<=n1):
    a=1
    while(a<=n1-i):
        print(" ",end="")
        a=a+1
    b=1
    while(b<=2*i-1):
        print('*',end="")
        b=b+1
    print()
    i=i+1
i=n2
while(i>=1):
    a=1
    while(a<=n2 - i +1):
        print(" ",end='')
        a = a+1
    j=1
    while(j<=2*i-1):
        print('*',end="")
        j=j+1
    print()
    i = i-1

 10

    *
   ***
  *****
 *******
*********
 *******
  *****
   ***
    *

## For Loop and Range Method
for i in x:

where x is a sequence
ex:strings, maps,....

range(start,stop,step/stride)

i goes up to stop-1

In [14]:
for i in "Hai, This is Ismail":
    print(i, end="")

Hai, This is Ismail

In [16]:
n= int(input())
for i in range(1,n+1,1):
    print(i)

 5

1
2
3
4
5

In [19]:
#single argument then it takes as end
n= int(input())
for i in range(n+1):
    print(i)

 5

0
1
2
3
4
5

In [20]:
#double argument then it takes as start,end
n= int(input())
for i in range(n+1,1):
    print(i)

 5

In [16]:
#numbers from n-1 to 0
# end should be -1, as it goes up to 1 only if given 0
n= int(input())
for i in range(n-1,-1,-1):
    print(i)

 5

4
3
2
1
0

In [24]:
# in range of a and b , print muliples of 3
# a<b
a=int(input())
b=int(input())
for i in range(a,b+1):
    if i%3==0:
        print(i)

 2
 30

3
6
9
12
15
18
21
24
27
30

In [26]:
# in range of a and b , print muliples of 3, with jump of 3
# a<b
a=int(input())
b=int(input())
s=0
if a%3==0:
    s=a
elif a%3==1:
    s= a+2
else:
    s= a+1
    
for i in range(s,b+1,3):
        print(i)

 52
 85

54
57
60
63
66
69
72
75
78
81
84

In [44]:
# Prime using for loop
# math.sqrt(n) gives float

import math
n =int(input())
prime = True
for i in range(2,int(math.sqrt(n))+1):
    if n%i == 0:
        print("Not Prime")
        prime = False
        break
if prime:
    print("Prime")

 24

Not Prime

### Wrong Syntax
for i in range(0.1, 0.4,0.1):
range accepts only integer values

In [36]:
# Pattern using for
n = int(input())

for i in range(1,n+1):
    # spaces
    for j in range(1, n-i+1):
        print(" ", end="")
    # increasing trick: i to 2*i-1
    temp= i
    for k in range(1,i+1):
        print(temp, end="")
        temp+=1
    # decreasing trick: 2*i-2 to i
    temp = temp-1
    for k in range(1,i):
        temp = temp-1
        print(temp, end="")
    print()

 5

    1
   232
  34543
 4567654
567898765

In [43]:
# Pattern using for
n = int(input())

for i in range(1,n+1):
    # spaces
    for j in range(1, n-i+1):
        print(" ", end="")
        
    # increasing => i to 2*i-1
    for k in range(i,2*i):
        print(k, end="")
        
    # decreasing => 2*i-2 to i
    # i-1, i <----- 2*i-2
    for l in range(2*i-2,i-1,-1):
        print(l, end="")
    print()

 5

    1
   232
  34543
 4567654
567898765

## KeyWords

### Break
### Else Keyword with Loops

In [49]:
# break: Terminating keyword
# if two looping statement if break is present in inner loop then break can only break the
# inner execution only 


#at breaking the loop, else will be executed
a=2
b=7
while a<b:
    print(a,b)
    a+=1
else:
    print("Else statement")

2 7
3 7
4 7
5 7
6 7
Else statement

In [ ]:

# else statement in loops is more useful when used with break keyword

# when used with break.
# the else will execute only when condition at while is false,
# but it will not run when break is executed is called

In [52]:
# Prime using for loop
import math
n =int(input())
for i in range(2,int(math.sqrt(n))+1):
    if n%i == 0:
        print("Not Prime")
        break
else:
    print("Prime")

 5

Prime

### Continue

In [59]:
# continue helps to skip 
for i in range(1, 10):
    if i%5==0:
        continue
    else:
        print(i)

1
2
3
4
6
7
8
9

In [ ]:
# in while loop, continue skips the increment, To solve: before continue do the increment

# PASS

In [66]:
# helps to pass the input

# in c, c++,
# we can do this 
# if(a>b){
# }

# in python we cant do this 
a=3
b=4
if a>b:
    pass

# if we are not intrested in doing anything
# pass can be used in if,for, while 


# pass is a dummy: like todo , todo in future

while i<=3:
    pass
    i+=1
for i in range(1,4):
    pass

In [68]:
 # Tems of Ap
# print first x terms of the series 3*N+2 which are not multiples of 4

x= int(input())
n=0
k=1

while n<=x:
    if (3*k+2)% 4 != 0:
        print(3*k+2)
        n+=1
    k+=1

 10

5
11
14
17
23
26
29
35
38
41
47

In [69]:
# sum of numbers 1 to n
n= int(input())
sum=0
for i in range(1, n+1):
    sum+=i
# product of numbers froom 1 to n
product =1

for i in range(1, n+1):
    product*=i

print("Product",product)
print("Sum",sum)

 5

Product 120
Sum 15

### Strings and Lists
" " or ' ' doesnt matter
strings: collection of characters
List: collection of collections

In [1]:
a="This is a string"
a='This is also a sTring'
a

'This is a string'

In [6]:
c='a'
type(c) #there are no character type in python

str

In [5]:
a[0]

'T'

In [6]:
type(a[0])

str

In [7]:
# Strings are immutable

a="This is"
a[3]='a' //cant be changed

# string is immutable, variable is not
a="Other string" #we are not changing "Other String"

SyntaxError: invalid syntax (3624237420.py, line 4)

In [8]:
# For '' use "" or for '' use ""
# For "" and '': we can use escape character \'

a=' it\'s a goog'

In [10]:
# looping a string
a=' it\'s a google product'
for i in a:
    print(i,end="") 
print()
for i in range(0,len(a)):
    print(a[i],end="")

 it's a google product
 it's a google product

In [17]:
# Concatanate two strings
a="This is a"
b=" and This is b"
c= a+b
a=a+b
print(a)
print(c)

This is a and This is b
This is a and This is b

In [18]:
# string comparing
a='A'
b='B'
print(a>b)
# Captital(65 to 90) then  Lowers(high ascii value 97 to 122)

# 'Z' < 'a'

False

In [17]:
# split function to divide into parts " "
a="This is a is"
print(a.split())

print(a.split("is"))

['This', 'is', 'a', 'is']
['Th', ' ', ' a ', '']

In [20]:
# replace :not changed the orginal string , returns the new string

a="This is big string with is random words"
print(a.replace("is", "are"))
print(a)

Thare are big string with are random words
This is big string with is random words

In [22]:
# find: returns index of first occuring of string
# if no found, return -1
a.find("big")

8

In [23]:
# To returns the uppercase
a.upper()
print(a)
# we can do
a= a.upper()
print(a)

This is big string with is random words
THIS IS BIG STRING WITH IS RANDOM WORDS

In [24]:
# lower
a= a.lower()
print(a)

this is big string with is random words

In [25]:
# islower
print(a.islower())

True

In [26]:
# isupper
print(a.isupper())

False

In [27]:
# startswith
print(a.startswith("th"))
print(a.endswith("th"))

True
False

In [44]:
# substring in python :slicing
# a[si:ei] : si is included and ei is not included

a= "this is a new string"
a[2:5]

'is '

In [45]:
a[2:] #starting from 2 to end

'is is a new string'

In [46]:
a[:4]

'this'

In [50]:
a[:]

'this is a new string'

In [54]:
a[2:13:2]

'i sanw'

In [60]:
# ---->end<-----
# end-1   end+1
a[18:2:-1] #up to 3 reverse

'nirts wen a si s'

In [63]:
# replace first occurance
s=input()
a='x'
b='y'
p= s.find(a)

if p!=-1:
    ans= s[:p]+b+s[p+1:]
ans

 codexninja

'codeyninja'

In [68]:
# replace all occurances
# approach1: use find() replace up to find gives -1
s=input()
a='x'
b='y'
ans=s
for i in range(0,len(ans)):
    if ans[i]==a:
        ans = ans[:i]+b+ans[i+1:]
ans

 codex

'codey'

In [69]:
# inbuilt function of repalce: it also returns the new string
s.replace('y','x')

'codex'

In [72]:
s=s.replace('x','y')
s

'codey'

In [73]:
"abc"[:2]

'ab'

In [28]:
str1="hello"
str1[-1] #same
str1[-1:] #same

'o'

In [80]:
s="abcdefghi"
s[-3:-1]

'gh'

# Lists
collection of list,

no need to define size of list and type of data it stores,

list stores all kinds of data,

Lists are dynamic in size:
internally list allocates some space, if we ask more , it will copy the elements to new list and returns it

We can add, remove, search

In [39]:
# both are same
a=[1,2,3]
b=list([3,4,6])
print(a,b)

[1, 2, 3] [3, 4, 6]

In [3]:
[] #empty list

[]

In [40]:
a=[1,2,"abc",5+3j]
a

[1, 2, 'abc', (5+3j)]

In [5]:
# list of lists is possibles
a=[[1,2,3],5]
a

[[1, 2, 3], 5]

In [41]:
# loop with list

b= [ 0 for i in range(0,10)]
print(b)

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [42]:

b= [ i for i in range(0,10)]
print(b)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [44]:

b= [ i for i in "ismail"]
print(b)

['i', 's', 'm', 'a', 'i', 'l']

In [45]:

b= [ i*i for i in range(0,10) ]
print(b)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [32]:
a=[1,2,4,5,6]

In [29]:
# length of string
len(a)

39

In [33]:
b=[6,7,8]
# adding two lists

a=a+b
a

[1, 2, 4, 5, 6, 6, 7, 8]

In [49]:
a=[1,3,5]
c=a+b
c

[1, 3, 5, 6, 7, 8]

In [50]:
c+3

TypeError: can only concatenate list (not "int") to list

In [51]:
a*b

TypeError: can't multiply sequence by non-int of type 'list'

In [52]:
a*3
# copies 3 times and gives new

[1, 3, 5, 1, 3, 5, 1, 3, 5]

In [53]:
# add to end
a.append(4)

In [18]:
a

[1, 3, 5, 4]

In [54]:
# add data at specific index
a.insert(0,10) #index, vlaue
a

[10, 1, 3, 5, 4]

In [55]:
# add b to a
# a=a+b
a.extend(b)
a

[10, 1, 3, 5, 4, 6, 7, 8]

In [34]:
# remove "data" 5
a.remove(7)
a

[1, 2, 4, 5, 6, 6, 8]

In [57]:
# remove from particular index, removes and returns the popped value
a.pop(0)
a

[1, 3, 5, 4, 6, 8]

In [35]:
del a[4] #doesnt return the deleted value

In [59]:
del a[1]
a

[1, 5, 4, 8]

## Sort and max
list should be homogenous

In [62]:
a.sort() #orginal list sorted

In [63]:
a

[1, 4, 5, 8]

In [64]:
max(b)

8

In [66]:
100 in a

False

In [68]:
print([i.lower() for i in "HELLO"])

['h', 'e', 'l', 'l', 'o']

In [69]:
a.pop() #if index not given, removes the last one

8

# Taking input in List

In [ ]:
# Pattern 1
 # 5 :no
 # 1
 # 4
 # 5
 # 5
 # 8

In [71]:
n=int(input())
a=[]
for i in range(n):
    s= int(input())
    a.append(s)
a

 5
 1
 4
 5
 5
 8

[1, 4, 5, 5, 8]

In [73]:
# 5 
# 1 2 3 4 5
n=int(input())

a=input().split(" ")
s=[]
for i in a:
    s.append(int(i))
    
s

 5
 1 2 3 4 5

[1, 2, 3, 4, 5]

In [75]:
# more optimized way

n=int(input())
a=input().split()
s=[int(i) for i in a]
s

 5
 1 2 3 4 5

[1, 2, 3, 4, 5]

In [76]:
# more optimized way

n=int(input())

s=[int(i) for i in input().split()]
s

 5
 1 2 3 4 5

[1, 2, 3, 4, 5]

In [77]:
# 5 1 2 3 4 5

s=[int(i) for i in input().split()]
n=s.pop(0)
print(n,s)

 5 1 2 3 4 5

5 [1, 2, 3, 4, 5]

In [80]:
# difference of even sum and odd sum 

l=[int(i) for i in input().split()]
even=0
odd=0

for i in l:
    if i%2 == 0:
        even+=i
    else:
        odd+=i
print(even-odd)

 5 5 7 8 9 4 6 1 2

-7

In [83]:
# swapping adjacent places

l=[int(i) for i in input().split()]
length= len(l)
for i in range(0,length,2):
    if i< length-1:
        l[i],l[i+1]= l[i+1],l[i]

for i in l:
    print(i)

 1 2 4 5 6 7 8 9 45 6

2
1
5
4
7
6
9
8
6
45

## Slicing in List

In [87]:
a=[1,5,2,"abc",6,4,7]
a[0:3]

[1, 5, 2]

In [88]:
a[4:6]

[6, 4]

In [89]:
a[:4]

[1, 5, 2, 'abc']

In [90]:
a[4:]

[6, 4, 7]

In [94]:
a[-1:-3:-1]

[7, 4]

In [95]:
a[10:3:-1]

[7, 4, 6]

In [96]:
a[:3:-1]

[7, 4, 6]

In [97]:
a[::-1] #reverse the list and gives new list

[7, 4, 6, 'abc', 2, 5, 1]

In [98]:
a.reverse()

In [99]:
a

[7, 4, 6, 'abc', 2, 5, 1]

# Multidimesional Lists

In [ ]:
# there is nothing as multidimesional list, we can apply
# spefically 2d List like m*n
# [[],[],[]]

In [100]:
a=[[1,2,3],[1,4,5]]

In [101]:
a=[[1,2,3],[1,4]]

In [103]:
a[0][0]

1

In [104]:
len(a)

2

In [107]:
len(a[0])

3

## INPUT OF MULTIDIMENSIONL LIST

In [108]:
# m n
# 1 2 4 5 65 6

# m n
# 1 2 4
# 3 4 5

# m n
# 1
# 2
# 3

In [110]:
sizes = input().split()
m= int(sizes[0])
n= int(sizes[1])

l=[]

for i in range(m):
    next_row = [int(i) for i in input().split()]
    l.append(next_row)
l

 4 4
 1 2 3 4
 1 2 3 45
 4 4 6 7
 45 67 89 9

[[1, 2, 3, 4], [1, 2, 3, 45], [4, 4, 6, 7], [45, 67, 89, 9]]

In [111]:
sizes = input().split()
m= int(sizes[0])
n= int(sizes[1])

l=[]

for i in range(m):
    next_row = []
    for i in range(n):
        next_row.append(int(input()))
    l.append(next_row)
l

 4 4
 1
 2
 3
 4
 5
 6
 7
 8
 1
 2
 4
 5
 1
 2
 3
 3

[[1, 2, 3, 4], [5, 6, 7, 8], [1, 2, 4, 5], [1, 2, 3, 3]]

In [113]:
sizes = input().split()
m= int(sizes[0])
n= int(sizes[1])
ol=[]
l = [int(i) for i in input().split()]
for i in range(m):
    start_index= n*i
    end_index = n*(i+1) #excludes kabbati
    next_row =l[start_index:end_index]
    ol.append(next_row)
ol

 2 3
 1 2 3 4 5 6

[[1, 2, 3], [4, 5, 6]]

In [114]:

a=[[1,2,3],[4,5,6],[7,8,9]]

print([a[i][i] for i in range(len(a))])

[1, 5, 9]

## More on Multi dimensional lists

In [ ]:
# slicing

In [117]:
a=[[7,8,9],[1,2,3],[4,5,6],[7,8,9]]
a[1:3]

[[1, 2, 3], [4, 5, 6]]

In [118]:
a=[[i,2*i] for i in range(10)]
a

[[0, 0],
 [1, 2],
 [2, 4],
 [3, 6],
 [4, 8],
 [5, 10],
 [6, 12],
 [7, 14],
 [8, 16],
 [9, 18]]

In [121]:
a=[ [ i*j for j in range(15) ] for i in range(10)]
a

[[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
 [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14],
 [0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28],
 [0, 3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42],
 [0, 4, 8, 12, 16, 20, 24, 28, 32, 36, 40, 44, 48, 52, 56],
 [0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70],
 [0, 6, 12, 18, 24, 30, 36, 42, 48, 54, 60, 66, 72, 78, 84],
 [0, 7, 14, 21, 28, 35, 42, 49, 56, 63, 70, 77, 84, 91, 98],
 [0, 8, 16, 24, 32, 40, 48, 56, 64, 72, 80, 88, 96, 104, 112],
 [0, 9, 18, 27, 36, 45, 54, 63, 72, 81, 90, 99, 108, 117, 126]]

In [122]:
# print column wise sum
m= len(a)
n= len(a[0]) #check if a is empty before doing this
for i in range(n):
    sum=0
    for j in range(m):
        sum+=a[j][i]
    print(sum)

0
45
90
135
180
225
270
315
360
405
450
495
540
585
630

In [124]:
a=[1,2,3,4,[56]]
b=list(a)
a[0] = 5
a[4][0]=3
print(b) 

# They only create a copy on the 0th level . Thats called shallow copy. The elements of a nested 
# elements are copied by reference

[1, 2, 3, 4, [3]]

In [128]:
# check if string is a palindrom or not

a="malayalam"
b=a[::-1]
if a==b:
    print("Palindrome")
else:
    print("Not a Palindrome")

Palindrome

In [131]:
print("".join(reversed("Hello World")))

dlroW olleH

In [135]:
# Print all Sub Strings

a= "Albr"

for i in range(len(a)):
    s=""
    for j in range(i,len(a)):
        s+=a[j]
        print(s)

A
Al
Alb
Albr
l
lb
lbr
b
br
r

In [1]:
# Array equilibrium index
# For a given array/list(ARR) of size 'N,' find and return the 'Equilibrium Index' of the array/list.
# Equilibrium Index of an array/list is an index 'i' such that the sum of elements at indices [0 to (i - 1)] is equal to the sum of elements at indices [(i + 1) to (N-1)]. One thing to note here is, the item at the index 'i' is not included in either part.
# If more than one equilibrium indices are present, then the index appearing first in left to right fashion should be returned. Negative one(-1) if no such index is present.

    
array = [1, 4, 9, 3, 2]

found_equilibrium = False

for i in range(len(array)):
    left_sum = sum(array[0:i])
    right_sum = sum(array[i+1:])
    if left_sum == right_sum:
        print(i)
        found_equilibrium = True
        break

if not found_equilibrium:
    print(-1)

2

In [ ]:
# Row wise sum in multidimensional array

In [3]:
a=[ [ i*j for j in range(15) ] for i in range(10)]

In [4]:
for i in range(10):
    sum=0
    for j in range(15):
        sum+=a[i][j]
    print(sum)

0
105
210
315
420
525
630
735
840
945

In [5]:
# Wave print
a

[[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
 [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14],
 [0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28],
 [0, 3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42],
 [0, 4, 8, 12, 16, 20, 24, 28, 32, 36, 40, 44, 48, 52, 56],
 [0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70],
 [0, 6, 12, 18, 24, 30, 36, 42, 48, 54, 60, 66, 72, 78, 84],
 [0, 7, 14, 21, 28, 35, 42, 49, 56, 63, 70, 77, 84, 91, 98],
 [0, 8, 16, 24, 32, 40, 48, 56, 64, 72, 80, 88, 96, 104, 112],
 [0, 9, 18, 27, 36, 45, 54, 63, 72, 81, 90, 99, 108, 117, 126]]

In [10]:
isdown= True
for i in range(15):
    if isdown:
        for j in range(0,10):
            print(a[j][i],end=" ")
        print()
        isdown=False
    else:
        for j in range(9,-1,-1):
            print(a[j][i],end=" ")
        print()

0 0 0 0 0 0 0 0 0 0
9 8 7 6 5 4 3 2 1 0
18 16 14 12 10 8 6 4 2 0
27 24 21 18 15 12 9 6 3 0
36 32 28 24 20 16 12 8 4 0
45 40 35 30 25 20 15 10 5 0
54 48 42 36 30 24 18 12 6 0
63 56 49 42 35 28 21 14 7 0
72 64 56 48 40 32 24 16 8 0
81 72 63 54 45 36 27 18 9 0
90 80 70 60 50 40 30 20 10 0
99 88 77 66 55 44 33 22 11 0
108 96 84 72 60 48 36 24 12 0
117 104 91 78 65 52 39 26 13 0
126 112 98 84 70 56 42 28 14 0

# Functions

In [ ]:
# nCr =n!/(n-r)!*r!

In [41]:
# def name(arguments/inputs)

def factorial(a):
    fact=1
    for i in range(1,a+1):
        fact= fact*i
    return fact

n= int(input())
r= int(input())

print("The nCr is ",factorial(n)//(factorial(n-r) * factorial(r)) )

 5
 1

The nCr is  5

### Why we need functions

1.Avoid repititons

2.Readable

3.Testing become easy

In [54]:
import math

# prime function
def isPrime(a):
    for i in range(2,int(math.sqrt(a))+1):
        if a%i==0:
            break
    else:
        return True
    return False
        
isPrime(100)

False

In [55]:
import math

# prime all primes i the 2 to N
def PrintPrimes2ToN(n):
    for i in range(2,n+1):
        if isPrime(i):
            print(i)
        
PrintPrimes2ToN(100)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

In [56]:
def ncr(n,r):
    return factorial(n)//(factorial(n-r) * factorial(r))

In [59]:
ncr(5,4)

5

In [1]:
# How Function call Works

# D
# C
# B
# A

# callstack first called will complete at last
# variables stores in its execution context

def A():
    print('A starts')
    print('A ends')

def B():
    print('B starts')
    A()
    print('b ends')

def C():
    B()
    print('C starts ')
    print('C ends ')

C()

B starts
A starts
A ends
b ends
C starts
C ends

In [3]:
# Functions using Strings and Lists

def increment(i):
    i= i+1

k=10
increment(k)
print(k)

10

In [4]:
# using list
# changes effects the orginal
# pointer stores reference

# this cant happen for string
def increment(l):
    l[0]= l[0]+1

a=[2,3,4]

increment(a)
print(a)

[3, 3, 4]

In [6]:
# change list
# pointer stores reference
def increment(l):
    l=[0,8]

a=[2,3,4]

increment(a)
print(a)

[2, 3, 4]

In [7]:
# string
def increment(l):
    l="abc"

a="def"

increment(a)
print(a)

def

In [8]:
# return a list from function

def create_n_array(n):
    l=[ i for i in range(n,0,-1)]
    return l

print(create_n_array(5))

[5, 4, 3, 2, 1]

In [15]:
# Swap alternate elements of a list
n=int(input())
l=[ i for i in range(n,0,-1)]
if len(l)%2==0:
    length=len(l)-1
else :
    length=len(l)-2
    
for i in range(0,length,2):
    l[i],l[i+1]=l[i+1], l[i]


l

 10

[9, 10, 7, 8, 5, 6, 3, 4, 1, 2]

In [17]:
# other approach

n=int(input())
l=[ i for i in range(n,0,-1)]

i=0
while i+1< len(l):
    l[i],l[i+1]=l[i+1], l[i]
    i= i+2
l

 13

[12, 13, 10, 11, 8, 9, 6, 7, 4, 5, 2, 3, 1]

## Scope of a variable

Two types of scope in python

local variable: variable defined inside a function
global variable: defined outside any function

In [20]:
a1= 10 #global variable

def f1():
    b1 =12 #local variable
    print(a1) #global variable is acessible here
    print(b1)

print(a1)
f1()
print(b1) #cannot print a local variable outside a function

10

NameError: name 'b1' is not defined

In [21]:


def f1():
    b1 =12 #local variable
    print(a1) #a1 can be called even a3 is defined after function but it should be defined before the function call
    print(b1)
    print(c3) #cant accessible, c2 is defined after function call
    
a1= 10 #global variable
print(a1)
f1()
c3=20
print(b1) #cannot print a local variable outside a function

10
10
12

NameError: name 'c3' is not defined

In [23]:
a4 = 13

def f4():
    a4=12 #acess is fine but when you try to change, python assumes you want to create a variable
    print(a4)

print(a4) #13
f4()
print(a4)

13
12
13

In [24]:
a4 = 13

def f4():
    global  a4=12 #if you want use global, we explicitly specify global
    print(a4)

print(a4) #13
f4()
print(a4)

SyntaxError: invalid syntax (4012205953.py, line 4)

In [26]:
a4 = 13

def f4():
    global  a4
    a4=12 #if you want use global, we explicitly specify global
    print(a4)

print(a4) #13
f4()
print(a4)

13
12
12

In [27]:
# Default Parameters
# ex: print("abc")
# ex: print("abc",end="")

# Syntax:
# non default, default

In [31]:
def sum(a,b,c=0,d=0):
    return a+b+c+d
sum(4,5,6)

15

In [33]:
sum(b=8,a=5,d=56)

69

In [36]:
# must pass default arguments by specifying or normal passing
sum(3,4,d=7)

14

In [44]:
# Farenheit to celcius
# s,e.w
def f_to_c(f):
    return (f-32)*5//9

s=int(input())
e=int(input())
w=int(input())


for i in range(s,e+1,w):
    print(i," ",f_to_c(i))

 0
 100
 20

0   -18
20   -7
40   4
60   15
80   26
100   37

In [46]:
# Farenheit to celcius
# s,e.w
def f_to_c(f):
    return int((f-32)*5/9) #just removes the points 

s=int(input())
e=int(input())
w=int(input())


for i in range(s,e+1,w):
    print(i," ",f_to_c(i))

 0
 100
 20

0   -17
20   -6
40   4
60   15
80   26
100   37

In [52]:
# check whether is member of fibanocci or not


def check_fibanocci(n):
    i=1
    if n==1:
        return True
    past=1
    curr=1
    
    while i<n:
        future = past+curr
        past =curr
        curr=future
        i=future
        if i== n:
            return True
    else:
        return False

In [54]:
check_fibanocci(3)

True

# Tuples
similar to lists but not exactly same

in python, multiple things behave as tuples
multiples elements together

In [56]:
a=[1,2] #list
b=(1,2) #tuple

c,d =1,2

e=1,2 #when you keep multiple things into a single thing, python makes it a tuple

print(type(a))
print(type(b))
print(type(c))
print(type(d))
print(type(e))

<class 'list'>
<class 'tuple'>
<class 'int'>
<class 'int'>
<class 'tuple'>

In [61]:
# Acess elements in tuple
# it is just like list

# the indexing and slicing works same way for strings, tuples and lists
# they are ordered 

a=(1,2,4,7,8,9)
a[0]
a[1:3]
a[1:]

(2, 4, 7, 8, 9)

In [63]:
# Diff betwwen lsit and tuples
# lists are mutable
# tuples are immutables:only reacbles,
a=(1,2,4,7,8,9)
a[0]=1

TypeError: 'tuple' object does not support item assignment

In [69]:
a=(1,2,4,7,8,9)
a=(4,5) #this is possible
a=(1,2,4,7,8,9,1,3,5)

In [70]:
del a[3] #not possible

TypeError: 'tuple' object doesn't support item deletion

## Functions in tuples

In [71]:
# for loops
for i in a:
    print(i)

1
2
4
7
8
9
1
3
5

In [72]:
1 in a #membership checking

True

In [74]:
len(a)

9

In [76]:
c=a+b
c

(1, 2, 4, 7, 8, 9, 1, 3, 5, 1, 2)

In [79]:
d =(a,c)
d

((1, 2, 4, 7, 8, 9, 1, 3, 5), (1, 2, 4, 7, 8, 9, 1, 3, 5, 1, 2))

In [84]:
e=a*2
e

(1, 2, 4, 7, 8, 9, 1, 3, 5, 1, 2, 4, 7, 8, 9, 1, 3, 5)

In [86]:
max(e)

9

In [88]:
min(a) #still need homogenous, altleast comparable

1

In [93]:
ran=(3,1.1)
min(ran)

1.1

In [94]:
a=("ab","bc","de")
min(a)

'ab'

In [95]:
# list to tuple
l=[1,2,3]
t=tuple(l)
t

(1, 2, 3)

In [96]:
# Variable length input and Output
# sum(.................) multiple

def sum(a,b):
    return a+b

In [101]:
def sum2(a,b,*more):
    print(a)
    print(b)
    print(type(more))

sum2(10,4)

10
4
<class 'tuple'>

In [104]:
# variable length input to function

def sum2(a,b,*more):
    ans=a+b
    for i in more:
        ans+=i
    return ans
    

sum2(10,4,6,10,20)

50

In [105]:
# variable length output from function
def sum_diff(a,b):
    return a+b,a-b

In [106]:
c=sum_diff(4,5)

In [107]:
c

(9, -1)

In [109]:
d,e= sum_diff(10,5) #length has to match 
print(d)
print(e)

15
5

# Dictionary

lists uses indexes 

for dictionary , you can use whatever the keys and whatever the values

{}

In [118]:
# we give key value pair

a={"the":2,"a":5}
print(type(a))

b={100:"the","a":5}
print(b)

<class 'dict'>
{100: 'the', 'a': 5}

In [117]:
a
b

{100: 'the', 'a': 5}

In [120]:
# for lists, 10000 means you need to have atleast
# but for dictionary it is not, it is still three
len(a)

2

In [121]:
b=a.copy()

In [122]:
c=dict([("the",3),("and",6)])
c

{'the': 3, 'and': 6}

In [124]:
d = dict.fromkeys(["abc",32,5], 10) #if you dont provide, then None
d

{'abc': 10, 32: 10, 5: 10}

In [ ]:
# dictionary is mutable

In [125]:
# Functions with dictionary
a={1:2,3:4,"list":[1,23],"dict":{1:1,2:3,4:5}}
a

{1: 2, 3: 4, 'list': [1, 23], 'dict': {1: 1, 2: 3, 4: 5}}

In [126]:
# acessing 
# use keys for acessing

a[1]

2

In [127]:
a["list"]

[1, 23]

In [129]:
a.get("list")

[1, 23]

In [132]:
print(a.get("li"))
# .get() and [] are same if present, but if not there the [] fails, but get gives None

None

In [133]:
a.get("li",0) #we can give defalt value to return if not found

0

In [134]:
a.keys() #behaves like list

dict_keys([1, 3, 'list', 'dict'])

In [135]:
a.values()

dict_values([2, 4, [1, 23], {1: 1, 2: 3, 4: 5}])

In [136]:
a.items() #list of tuples

dict_items([(1, 2), (3, 4), ('list', [1, 23]), ('dict', {1: 1, 2: 3, 4: 5})])

In [137]:
for i in a:
    print(i) #keys

1
3
list
dict

In [139]:
for i in a:
    print(i,":",a[i]) #keys

1 : 2
3 : 4
list : [1, 23]
dict : {1: 1, 2: 3, 4: 5}

In [140]:
for i in a.values():
    print(i)

2
4
[1, 23]
{1: 1, 2: 3, 4: 5}

In [141]:
# How to check if a key is exist or not
"list" in a #checks only keys

True

In [142]:
"li" in a

False

In [147]:
 # Adding or removing Data in Dictionary
a["78"]="345"

In [148]:
a

{1: 2,
 3: 4,
 'list': [1, 23],
 'dict': {1: 1, 2: 3, 4: 5},
 124: '345',
 '78': '345'}

In [149]:
a["abc"]="def" #adding data

In [150]:
a

{1: 2,
 3: 4,
 'list': [1, 23],
 'dict': {1: 1, 2: 3, 4: 5},
 124: '345',
 '78': '345',
 'abc': 'def'}

In [151]:
# updating
a["abc"] ="hik"

In [152]:
a

{1: 2,
 3: 4,
 'list': [1, 23],
 'dict': {1: 1, 2: 3, 4: 5},
 124: '345',
 '78': '345',
 'abc': 'hik'}

In [155]:
# update
b={1:100,"aas":"fd"}
a.update(b) #what ever the values of b not available in a, will be added
# what ever keys avaible in both a and b, value will be according to b

In [156]:
a

{1: 100,
 3: 4,
 'list': [1, 23],
 'dict': {1: 1, 2: 3, 4: 5},
 124: '345',
 '78': '345',
 'abc': 'hik',
 90: 100,
 'aas': 'fd'}

In [158]:
# remove 
a.pop('aas') #key required

'fd'

In [159]:
del a[1]

In [160]:
a

{3: 4,
 'list': [1, 23],
 'dict': {1: 1, 2: 3, 4: 5},
 124: '345',
 '78': '345',
 'abc': 'hik',
 90: 100}

In [161]:
a.clear()

In [162]:
a

{}

In [183]:
# Print all words with frequency k

def Print_allWordWithFrequencyk(s,k):
    l= s.split()
    d={}
    
    for i in l:
        d[i] = d.get(i,0)+1
    
    for i in d:
        if d[i]==k:
            print(i)

s="This is a good a of is of are are"

Print_allWordWithFrequencyk(s,1)

This
good

# Sets
things are uniques

sets are also collection of data but not ordered

sets are useful when check like: how many unique words are there in a string

{} 
only keys but not values, no ordering

In [184]:
a={"apple","banana",23}
a

{23, 'apple', 'banana'}

In [185]:
type(a)

set

In [186]:
a[0] #not valid

TypeError: 'set' object is not subscriptable

In [187]:
a['abc'] #not valid

TypeError: 'set' object is not subscriptable

In [188]:
'abc' in a

False

In [189]:
23 in a

True

In [190]:
for v in a:
    print(v)

banana
apple
23

In [191]:
len(a)

3

In [192]:
# add

a.add("temp")

In [193]:
b={"abc","ghi"}
a.update(b)
a

{23, 'abc', 'apple', 'banana', 'ghi', 'temp'}

In [194]:
a.remove("temp")

In [ ]:
# if not there error will come

In [195]:
a.discard('rrr') #no error

In [ ]:
a.pop() #randomly deletes a value

In [196]:
# Functions in sets

a={1,2,3,4}
b={2,4,5,6,7}

# intersection
a.intersection(b)

{2, 4}

In [197]:
a.union(b)

{1, 2, 3, 4, 5, 6, 7}

In [198]:
a.difference(b)

{1, 3}

In [199]:
b.difference(a)

{5, 6, 7}

In [201]:
a.symmetric_difference(b) #aub - aintersectb

{1, 3, 5, 6, 7}

In [202]:
b.symmetric_difference(a)

{1, 3, 5, 6, 7}

In [203]:
a.intersection_update(b)

In [204]:
a

{2, 4}

In [ ]:
# a is updated with the intersection part

In [205]:
a.difference_update(b)

In [206]:
a

set()

In [209]:
a.symmetric_difference_update(b)

In [210]:
a

{2, 4, 5, 6, 7}

In [211]:
b

{2, 4, 5, 6, 7}

In [212]:
a.issubset(b)

True

In [213]:
c={3,4}
c.issubset(a)

False

In [214]:
c={4,5}
c.issubset(a)

True

In [216]:
a.issuperset(c)

True

In [217]:
a.isdisjoint(b)

False

In [218]:
 # sum of all Unique Numbers in List

In [222]:
l=[1,2,3,5,6,5,6,8,2]
s=set()
for i in l:
    s.add(i)
sum=0
for i in s:
    sum+=i
print(sum)

25

In [225]:
 # Make Unique Array
# Find no of elements to be removed to make an array of all distinct elements
l=[1,2,3,4,5,1,2,3,4]
d={}
elements=0
for i in l:
    if d.get(i,0)!=0:
        elements+=1
    else:
        d[i]= d.get(i,0)+1
        
print(elements)

4

In [226]:
# Highest Frequency number

# You are given an array of integers that contain numbers in random order.
# Write a program to find and return the number which occurs the maximum times in
# the given input.
# If two or more elements contend for the maximum frequency, 
# return the element which occurs in the array first.



# initializing list
test_list = [9, 4, 5, 4, 4, 5, 9, 5, 4,9,9]

# printing original list
print ("Original list : " + str(test_list))

# using naive method to
# get most frequent element
max = 0
res = test_list[0]
for i in test_list:
	freq = test_list.count(i)
	if freq > max:
		max = freq
		res = i
	
# printing result
print ("Most frequent number is : " + str(res))

Original list : [9, 4, 5, 4, 4, 5, 9, 5, 4, 9, 9]
Most frequent number is : 9

In [228]:
# Python3 code to demonstrate
# to get most frequent element
# using statistics.mode()
import statistics

# initializing list
test_list = [9, 4, 5, 4, 4, 5, 9, 5, 4,9,9]

# printing original list
print ("Original list : " + str(test_list))

# using statistics.mode() to
# get most frequent element
res = statistics.mode(test_list)
	
# printing result
print ("Most frequent number is : " + str(res))

Original list : [9, 4, 5, 4, 4, 5, 9, 5, 4, 9, 9]
Most frequent number is : 9

In [232]:
test_list = [9, 4, 5, 4, 4, 5, 9, 5, 4,9,9]
test_list = test_list[::-1]

dict ={}
for i in test_list:
    dict[i]=dict.get(i,0)+1
max_freq=0

for i in dict:
    if dict[i]>max_freq:
        max_freq= dict[i]
max_freq

4

In [ ]:
# # Maximum Distance
# Maximum Distance
# Send Feedback
# # Given an array that might contain duplicate elements, find the maximum possible distance between occurrences of two repeating elements i.e. elements having same value. If there are no duplicate elements in the array, return

In [2]:
# Given an array that might contain duplicate elements, find the maximum possible distance between occurrences of two repeating elements i.e. elements having same value. If there are no duplicate elements in the array, return 0.

arr = [1, 3, 1, 4, 5, 6, 4, 8]
max_distance=0
for i in range(0,len(arr)):
    val =arr[i]
    for j in range(i+1,len(arr)):
        if arr[j]==val:
            dist=j-i
            if max_distance<dist:
                max_distance= dist

print(max_distance)

3

In [7]:
# First non repeating character
str="aDcadhc"
non_repeating=str[0]
for i in range(0,len(str)):
    val= str[i]
    if (val in str[i+1:])==False:
        non_repeating=val
        break

print(non_repeating)

D

In [5]:
str="abc def"
'd' in str[5:]

False

In [9]:
# Different Names
# print repeating names in a str

str="Abhishek harshit Ayush harshit Ayush Iti Deepak Ayush Iti"
dic={}
for i in str.split():
    dic[i]=dic.get(i,0)+1
repeat_exist=False

for i in dic:
    if dic[i]>1:
        repeat_exist=True
        print(i," ",dic[i])
        
if repeat_exist == False:
    print(-1)

harshit   2
Ayush   3
Iti   2

In [14]:
# even 

arr=[2,  3, 4,4,4,4, 5, 3, 5]
dic={}
for i in arr:
    dic[i]=dic.get(i,0)+1



for i in dic:
    if dic[i]%2==0:
        print(i)
        break
else:
    print(-1)

3

In [17]:
# Unique triangles
# A triangle is said to be unique if there is no other triangle with same set of sides.

# sample input
# 5
# 7 6 5
# 5 7 6
# 8 2 9
# 2 3 4
# 2 4 3

n = int(input())

arr = [list(map(int, input().split())) for x in range(n)]
arr

 5
 1 2 3
 1 2 4
 4 5 6
 7 8 9
 4 8 9

[[1, 2, 3], [1, 2, 4], [4, 5, 6], [7, 8, 9], [4, 8, 9]]

In [18]:
# Assignment tuples 4th one

# dict ={}
# for i in range(0,len(arr)):
#     for j in range(0, 3):
#         val=arr[i][j]
#         dict[val] =dict.get(val,0)+1

# temp=0

# for i in dict:
#     if dict[i] % 3 == 0:
#         temp+=1
# print(temp%3)

1

In [22]:
# Pairs with difference K

l=[5,1,9,8,12]
k=4
pairs_nums=0
for i in range(0,len(l)-1):
    for j in range(i+1,len(l)):
        if abs(l[i]-l[j]) ==k:
            print(l[i]," ",l[j])
            pairs_nums+=1

print(pairs_nums)

5   1
5   9
8   12
3