In [3]:
import sqlite3

db = sqlite3.connect("IMDB.sqlite")
db

In [4]:
import sqlite3

db = sqlite3.connect("IMD.sqlite") # file not exist
# if file not exist, it creates a file and establishes the connection
db

In [5]:
# create a cursor object, to to database queries
db = sqlite3.connect("School.sqlite")

In [6]:
# connection object . cursor

cur = db.cursor()
sql_query = "create table Student(RNo int Primary key, Name Text, Age int)"
cur.execute(sql_query)

In [7]:
cur.execute('insert into Student values (101,"Ismail",20), (102,"Abilash",23)')

In [8]:
db.commit() #we should commit our tranaction to reflect in our database

In [9]:
cur.execute('insert into Student values (101,"Ismail",20)')

IntegrityError: UNIQUE constraint failed: Student.RNo

In [10]:
db.close()

In [11]:
cur.execute('insert into Student values (101,"Ismail",20)')

ProgrammingError: Cannot operate on a closed database.

In [12]:
db = sqlite3.connect('Employee.sqlite')
cur = db.cursor()
cur.execute("create table EmployeeDetail (employeeId int primary key, name Text , age int, department Text, salary int)")
cur.execute('insert into EmployeeDetail values (100,"Rishav",25,"Marketing",50000),(101,"Abhishek",26,"Operations",60000),(102,"Aman",28,"Human Resources",75000)')
db.commit()

In [13]:
db.close()